@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green-bg: #ecf4e9;
  --white-bg: #fbfbfc;
  --gray-30: #6b7271;
  --green-light: #bbf49c;
  --red: #f73541;
  --black: #242e2c;
  --gray-20: #bcbebd;
  --gray-10: #eff0f0;
  --green-dark: #1e4841;
  --gray-line: #e5e6e6;
}

@theme inline {
  --color-green-bg: var(--green-bg);
  --color-white-bg: var(--white-bg);
  --color-gray-30: var(--gray-30);
  --color-green-light: var(--green-light);
  --color-red: var(--red);
  --color-black: var(--black);
  --color-gray-20: var(--gray-20);
  --color-gray-10: var(--gray-10);
  --color-gray-line: var(--gray-line);
  --color-green-dark: var(--green-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-urbanist), sans-serif !important;
}

body {
  font-family: var(--font-urbanist), sans-serif;
  background-color: var(--green-bg);
  color: var(--gray-30);
}
